<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>网易云音乐切换</title>
   <link rel="stylesheet" href="static/buttons.css">
  <style>

.divfixed_left{
    position:fixed;
    margin-top: 260px;
    margin-left: 17.5rem;

}
.divfixed_right{
    position:fixed;
    margin-top: 260px;
    margin-right: 17.5rem;
}
  </style>
</head>

<body style="background-color:#000000;">



  <div class="container">

        <a class="divfixed_left button button-border button-primary button-box button-giant" role="button" href="/">/</a>

        <a class="divfixed_right button button-border button-primary button-box button-giant" role="button" href="/">\</a>

        <a class="button button-glow button-block button-rounded button-caution button-large" role="button" href="?action=open_music">打开音乐</a>
        <br />
        <a class="button button-glow button-block button-rounded button-highlight button-large"  role="button" href="?action=pause_play" >停/放</a>
        <br/ >
        <div align="center">
        <a class="button button-glow button-border button-rounded button-rounded " href="?action=prev_song">上一首</a>
        <a class="button button-glow button-border button-rounded button-rounded " href="?action=next_song">下一首</a>
        </div>
        <br/ >

      <div align="center">
        <a class="button button-pill button-raised button-primary button-longshadow-right" href="?action=volume_up">++</a>
        <a class="button button-pill button-raised button-primary button-longshadow-right" href="?action=volume_down">--</a>
      </div>
     <br/ >
     <br/ >
     <br/ >
     <br/ >
     <br/ >
     <br/ >

     <br/ >
     <br/ >
     <br/ >
     <br/ >
     <br/ >
     <br/ >
     <br/ >


  
        <a class="button button-glow button-block button-rounded button-highlight button-large" role="button" href="?action=close_switcher" >关闭遥控器</a>
        <br />
        <a class="button button-glow button-block button-rounded button-highlight button-large" role="button" href="?action=close_music">关闭音乐</a>
        <br />


        <a class="button button-glow button-block button-rounded button-caution button-large" role="button" href="?action=shutdown" style="background-color:black;">60s关机</a>
        <br />
        <a class="button button-glow button-block button-rounded button-caution button-large" role="button" href="?action=shutdown_cancel" style="background-color:black;">取消关机</a>
</div>
</body>
</html>